<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAj2NYeBLPZnfmMAJfLuOH35_g3Ip4r7KI</string>
	<key>GCM_SENDER_ID</key>
	<string>880449602136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kigaliDirectory</string>
	<key>PROJECT_ID</key>
	<string>kigalidirectory</string>
	<key>STORAGE_BUCKET</key>
	<string>kigalidirectory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880449602136:ios:c83a4325b191525f75402d</string>
</dict>
</plist>